.Order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.CloseBtn {
    display: flex;
    justify-content: center;
    padding: 16px;
    align-self: flex-start;
    position: relative;
    margin-top: 5px;
    cursor: pointer;
    transition: .15s ease-out;
    transform: rotate(0);
}

.CloseBtn::before,
.CloseBtn::after {
    content: '';
    border: 1px solid #8f5C2C;
    width: 100%;
    margin-top: -1px;
    transform: rotate(45deg);
    position: absolute;
}

.CloseBtn::after {
    transform: rotate(-45deg);
}

.CloseBtn:hover {
    transform: rotate(90deg);
}

.ViewBtn {
    margin: 0;
    margin-top: -7px;
    position: relative;
    overflow: hidden;
    padding-left: 0;
}

.ViewBtn:hover {
    color: #944317;
}

.ViewBtn::after {
    content: '';
    position: absolute;
    left: 0;
    top: 90%;
    width: calc(100% - 10px);
    border-top: 2px solid currentColor;
}

